h1,h2{
    color: blue;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}
img{
    position: absolute;
    width: 50px;
    pointer-events: none;
    transform: translate(-50%,-50%);
    cursor: none;
}
body{
   background-image:url(bg.png) ;
   overflow: hidden;
   cursor: none;
}
.enemy{
transform:translate(-50%,50%) scaleX(-1);
}